# этот параметр сообщает системе конфигурации не искать файлы конфигурации в родительских каталогах
config.stopbubbling = true

# при работе @...ArgsConstructor автоматически вставить рядом полей например эти аннотации
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += org.springframework.beans.factory.annotation.Value